* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

main {
  margin: 0 auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  flex-direction: column;
}

select {
  margin-bottom: 1rem;
}

#output {
  margin-top: 1rem;
  border-top: 2px solid gray;
}

.hide {
  display: none;
}

article {
  margin: 1rem 0;
  padding: .75rem;
  background: #eee;
  border-radius: 8px;
}
